{
  email {$CADDY_EMAIL}
}

{$LORE_DOMAIN:impious.io} {
  encode zstd gzip
  reverse_proxy lore:80
}

{$WIKI_DOMAIN:wiki.impious.io} {
  encode zstd gzip
  reverse_proxy wiki:80
}

{$GAME_DOMAIN:game.impious.io} {
  encode zstd gzip
  reverse_proxy game:8080 {
    header_up Connection {>Connection}
    header_up Upgrade {>Upgrade}
  }
}
