services:
  caddy:
    build:
      context: ..
      dockerfile: deploy/Dockerfile.caddy
      args:
        VITE_MODE: development
    command: ["caddy", "run", "--config", "/etc/caddy/Caddyfile"]
    restart: unless-stopped
    ports:
      - "8080:80"
      - "8443:443"
      - "8443:443/udp"
    volumes:
      - ./Caddyfile.dev:/etc/caddy/Caddyfile:ro
      - ../site/public:/srv/site:ro
      - caddy_data_dev:/data
      - caddy_config_dev:/config
    networks:
      - edge

  game-api:
    profiles: ['game']
    build:
      context: ../game-api
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - edge
    # volumes:
    #   - ../game-api:/app:delegated
    # command: npm run dev

networks:
  edge:
    driver: bridge

volumes:
  caddy_data_dev:
  caddy_config_dev:
