services:
  caddy:
    image: caddy:2-alpine
    container_name: caddy-prod
    restart: unless-stopped
    working_dir: /srv/site
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ../site/public:/srv/site:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - impious-net

volumes:
  caddy_data:
  caddy_config:

networks:
  impious-net:
    name: impious-net
